/Exercise 01/Java/saying-hello-v1/nbproject/private/
/Exercise 01/Java/saying-hello-v1/build/
/Exercise 01/JavaScript/saying-hello-v1/nbproject/private/
/Exercise 01/Java/saying-hello-v2/nbproject/private/
/Exercise 01/Java/saying-hello-v2/build/
/exercise-01-saying-hello/Java/Exercise01v1/build/
/exercise-01-saying-hello/Java/Exercise01v1/nbproject/private/
/exercise-01-saying-hello/Java/exercise01v2/nbproject/private/
/exercise-01-saying-hello/Java/exercise01v2/build/
/exercise-01-saying-hello/Java/exercise01v10/nbproject/private/
/exercise-01-saying-hello/Java/exercise01v1/nbproject/private/
/exercise-01-saying-hello/Java/exercise01v1/build/
/exercise-01-saying-hello/Java/exercise01v1/dist/
/exercise-02-character-count/Java/exercise02v1/nbproject/private/
/exercise-02-character-count/Java/exercise02v2/nbproject/private/
/exercise-02-character-count/Java/exercise02v2/build/
/exercise-03-print-quotes/Java/exercise03v1/nbproject/private/
/exercise-03-print-quotes/Java/exercise03v1/build/
/exercise-03-printing-quotes/Java/exercise03v1/build/
/exercise-03-printing-quotes/Java/exercise03v1/nbproject/private/