/Exercise 01/Java/saying-hello-v1/nbproject/private/
/Exercise 01/Java/saying-hello-v1/build/
/Exercise 01/JavaScript/saying-hello-v1/nbproject/private/
/Exercise 01/Java/saying-hello-v2/nbproject/private/
/Exercise 01/Java/saying-hello-v2/build/